.content { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,81d7ef+100 */
    background: #1e5799; /* Old browsers */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,81d7ef+100 */
    background: #1e5799; /* Old browsers */
  }
  
  .login-margin {
    margin: auto 10%;
  }
  
  @media (max-width: 1440px) {
    .login-margin {
      margin: 10%;
    }
  }
  
  @media (max-width: 1024px) {
    .hd-sm {
      display: none;
    }
  }
  
  .loginSubtitle {
    padding: 40px 0
  }
  
  .marginAuto {
    margin: auto;
  }
  
  .imageWrapper {
    margin: 5vh 5vw
  }
  
  .image {
    max-height: 100%;
    max-width: 100%
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .loginCard {
    position: absolute;
    left: 15vw;
    right: 15vw;
    top: 15vh;
  }
  
  .margin-top-15 {
    margin-top: 15vh;
  }
  